{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block tpl_content %}
<div class="page">
    <form method="post" action="">{% csrf_token %}
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">旧密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name='old_password' id='id_old_password' placeholder="请输入旧密码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name='new_password1' id='id_new_password1' placeholder="密码">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">新密码确认</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name='new_password2' id='id_new_password2' placeholder="密码">
                </div>
            </div>
            <input class = "weui-btn weui-btn_primary" type="submit" value="提交" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change password' %}" />
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
