{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block tpl_content %}
<div class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">密码修改成功</h2>
            <p class="weui-msg__desc">密码已成功修改,查看发票信息请访问<a href="javascript:void(0);">发票信息</a></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="{% url 'application_from_me_list' %}" class="weui-btn weui-btn_primary">收支</a>
                <a href="{% url 'application_to_me_list' %}" class="weui-btn weui-btn_default">待办</a>
                <!-- <a href="javascript:history.back();" class="weui-btn weui-btn_primary">收支</a>
                <a href="javascript:history.back();" class="weui-btn weui-btn_default">待办</a> -->                
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; 2008-2016 weui.io</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<p>{% trans "Password successfully changed!" %}</p>
{% endblock %}


{# This is used by django.contrib.auth #}
