{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block tpl_navbar %}
{% endblock %}

{% block tpl_content %}
<div class="page">    

    <div class="weui-cells__title">未审批申请</div>
    <div class="weui-cells">

    	{% for object in object_list %}
        <a class="weui-cell weui-cell_access" href="{{ object.get_absolute_url }}">
            <div class="weui-cell__hd"><i class="weui-icon-waiting "></i><!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"> --></div>
            <div class="weui-cell__bd">
                <p>{{object}}</p>
            </div>
            <div class="weui-cell__ft">查看</div>
        </a>
        
        {% endfor %}
    </div>

    <div class="weui-cells__title">已完成审批申请</div>
    <div class="weui-cells">

        {% for object in object_list_approved %}
        <a class="weui-cell weui-cell_access" href="{{ object.get_absolute_url_history }}">
            <div class="weui-cell__hd"><i class="weui-icon-success"></i><!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"> --></div>
            <div class="weui-cell__bd">
                <p>{{object}}</p>
            </div>
            <div class="weui-cell__ft">查看</div>
        </a>
        
        {% endfor %}
    </div>

    <div class="weui-cells__title">已拒绝申请</div>
    <div class="weui-cells">

        {% for object in object_list_rejected %}
        <a class="weui-cell weui-cell_access" href="{{ object.get_absolute_url_history }}">
            <div class="weui-cell__hd"><i class="weui-icon-warn"></i><!-- <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"> --></div>
            <div class="weui-cell__bd">
                <p>{{object}}</p>
            </div>
            <div class="weui-cell__ft">查看</div>
        </a>
        
        {% endfor %}
    </div>    
</div>
{% endblock %}