{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load myform %}

{% block tpl_navbar %}
{% endblock %}

{% block tpl_content %}
<div class="page">    

    <div class="weui-cells__title" >已提交申请</div>
    <div class="weui-cells">

    	{% for object in object_list %}
        <a class="weui-cell weui-cell_access title_list" href="{{ object.get_absolute_url_history }}">
            <div class="weui-cell__hd"><img src="{% static 'images/icon_nav_form.png' %}" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui-cell__bd">
                <p>{{object}}</p>
            </div>
            <div class="weui-cell__ft">查看</div>
        </a>
        
        {% endfor %}
    </div>
</div>
{% endblock %}