{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block tpl_content %}

{% block tpl_content_header %}

{% endblock %}

<div class="page">
    <form class="form-horizontal" enctype="multipart/form-data" method="POST" action='' >{% csrf_token %}
        {% if form.errors %}
            <p style="color: #b75f33;">
                {{form.non_field_errors}}
            </p>
        {% endif %}    
        <div class="page__hd">
            <h1 class="page__title">&nbsp;普通发票</h1>
            <!-- <p class="page__desc">手动输入发票信息</p> -->
        </div>    
        <div class="page__bd">
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">总金额</label></div>
                    <div class="weui-cell__bd">
<!--                         <input class="weui-input" type="number" name="total_amount" id="id_total_amount" required pattern="[0-9.]*" step='0.01' value="{{form.total_amount.value}}" placeholder="0.00"/> -->
                        {{form.total_amount}}
                    </div>
                </div>

                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="id_currency" class="weui-label">货币</label>
                    </div>
                    <div class="weui-cell__bd">
                        <!-- <select class="weui-select" name="currency" id="id_currency">
                            <option value="1">人民币</option>
                            <option value="2">美元</option>
                            <option value="3">欧元</option>
                        </select> -->
                        {{form.currency}}
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">本位币</label></div>
                    <div class="weui-cell__bd {% if form.base_amount.errors %} error has-error{% endif %}">
<!--                         <input id="id_base_amount" name="base_amount"  value="{{form.base_amount.value}}" class="weui-input" type="number" pattern="[0-9.]*" step='0.01' placeholder="0.00"/> -->
                        {{form.base_amount}}
                    </div>
                </div>

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">增值税(选填)</label></div>
                    <div class="weui-cell__bd">
                        <!-- <input id="id_VAT_amount" name="VAT_amount" class="weui-input" type="number" pattern="[0-9.]*" step='0.01' placeholder="请输入增值税税额"/> -->
                        {{form.VAT_amount}}
                    </div>
                </div>
            </div>

            <div class="weui-cells__title">票据类型</div>
            <div class="weui-cells weui-cells_radio">
                <label class="weui-cell weui-check__label" for="id_invoice_type_0">
                    <div class="weui-cell__bd">
                        <p>普票</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check" name="invoice_type" id="id_invoice_type_0" value="ordinary"/>
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="id_invoice_type_1">
                    <div class="weui-cell__bd">
                        <p>专票</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" name="invoice_type" class="weui-check" id="id_invoice_type_1" value="special" checked="checked"/>
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="id_invoice_type_2">
                    <div class="weui-cell__bd">
                        <p>非发票</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" class="weui-check" name="invoice_type" id="id_invoice_type_2" value="notinvoice"/>
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
            </div>

            <!-- {{form.invoice_type}} -->

            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="id_invoice_date" class="weui-label">日期</label></div>
                <div class="weui-cell__bd {% if form.invoice_date.errors %} error has-error{% endif %}">
                    <input id="id_invoice_date" name="invoice_date" class="weui-input" type="date" value="{% if form.invoice_date.value %}{{form.invoice_date.value}}{%else%}{{today}}{% endif %}"/>
                </div>
            </div>

            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="id_invoice_project" class="weui-label">项目</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="id_invoice_project" name="invoice_project" class="weui-select">
                            <option value="1">餐费</option>
                            <option value="2">房租</option>
                            <option value="3">差旅费</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="weui-cells">
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="id_invoice_category" class="weui-label">项目</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select id="id_invoice_category" name="invoice_category" class="weui-select">
                            <option value="1">企业日程运营</option>
                            <option value="2">市场推广</option>
                            <option value="3">技术研发</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">备注</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <textarea id="id_comments" name="comments" class="weui-textarea" placeholder="请输入票据备注" rows="3"></textarea>
                        <div class="weui-textarea-counter"><span>0</span>/200</div>
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">图片</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-uploader">
<!--                     <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">图片上传</p>
                        <div class="weui-uploader__info">0/2</div>
                    </div> -->
                    <div class="weui-uploader__bd">
                        <!-- <ul class="weui-uploader__files" id="uploaderFiles">
                            <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>
                            <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>
                            <li class="weui-uploader__file" style="background-image:url(./images/pic_160.png)"></li>
                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
                                <div class="weui-uploader__file-content">
                                    <i class="weui-icon-warn"></i>
                                </div>
                            </li>
                            <li class="weui-uploader__file weui-uploader__file_status" style="background-image:url(./images/pic_160.png)">
                                <div class="weui-uploader__file-content">50%</div>
                            </li>
                        </ul> -->
                        <div class="weui-uploader__input-box">
                            {{form.image}}
                        </div>                        
                        <!-- <div class="weui-uploader__input-box">
                            <input id="id_image" name="image" class="weui-uploader__input" type="file" accept="image/*" multiple/>                            
                        </div> -->
                    </div>
                </div>
            </div>

        </div>

        <input type="submit" class="weui-btn weui-btn_primary"value="提交"/>
    </form>
</div>
{% endblock %}


<script>
{% block jquery %}

    function calc_total_amout(){
        base = $("#id_base_amount").val();
        VAT = $("#id_VAT_amount").val();
        total = 0;
        if(base){
            total += parseFloat(base);
        }
        if(VAT){
            total += parseFloat(VAT);
        }
        return total;
    }

    $("#id_base_amount").change(function(){        
        $("input#id_total_amount").val(calc_total_amout());
        $("input#id_total_amount").css("color", 'green');
    });

    $("#id_VAT_amount").change(function(){        
        $("input#id_total_amount").val(calc_total_amout());
        $("input#id_total_amount").css("color", 'green');
    });
        
{% endblock%}
</script>