{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block tpl_content %}
<div class="page" style="padding: 7px 1px 5px 1px ">
    <div class="page__hd">
        <h1  class="page__title title_header"><small>未提交发票&nbsp;</small></h1>
        <!-- <p class="page__desc">&nbsp;&nbsp;勾选相应发票去提交</p> -->
    </div>
    <div class="page__bd">
        {% if not formset or not formset.queryset.count %}
            {# trans "No unsumbitted invoice" #}没有未提交发票
        {% else%}
        <form class="form-horizontal" enctype="multipart/form-data" method="POST" action='' >{% csrf_token %}
            <div class="weui-cells__title">选择要提交费用</div>
            <div class="weui-cells weui-cells_checkbox">
                {{ formset.management_form }}
                {{formset0}}
                {% for form in formset %}
                <label class="weui-cell weui-check__label" for="id_form-{{forloop.counter0}}-{{form.is_submit.name}}">
                    <div class="weui-cell__hd">
                        <input type="checkbox" class="weui-check" name="form-{{forloop.counter0}}-{{form.is_submit.name}}" id="id_form-{{forloop.counter0}}-{{form.is_submit.name}}" checked="checked"/>
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>{{form.instance}}</p><a href="{% url 'invoice_list' %}"></a>
                    </div>
                </label>
                <input id="id_form-{{forloop.counter0}}-id" name="form-{{forloop.counter0}}-id" type="hidden" value="{{form.instance.pk}}" />
                {% endfor %}
            </div>
            <input type="submit" class="weui-btn weui-btn_primary"value="提交审批"/>
        </form>
        {% endif %}
    </div>
</div>

<div class="page button js_show" style="margin-top: 20px;">
<!--     <div class="page__hd">
        <h1 class="page__title">Button</h1>
        <p class="page__desc">按钮</p>
    </div> -->
    <div class="page__bd page__bd_spacing" style="padding-left: 5px;">
        <div class="button-sp-area">
            <!-- <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">下载</a> -->
            <a href="{% url 'invoice_list' %}" class="weui-btn weui-btn_mini weui-btn_default">全部</a>
            <!-- <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_warn">返回</a> -->
        </div>
    </div>
    <div class="page__ft">
        <!-- <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a> -->
    </div>
</div>
{% endblock %}